.project_wrapper__text {
  padding-left: 50px;
}
.project_wrapper__text h3 {
  font-size: 1.6rem;
}
.project_wrapper__text div {
  display: flex;
}

.project_wrapper_para {
  width: 450px;
}

.project-wrapper__image {
  width: 100%;
  height: 320px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  padding: 28px 0px;
}
.project-wrapper__image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.image {
  transition: transform 0.5s ease;
  transform-origin: left center; /* Set the origin of transformation */
}

/* On hover, scale and skew the image */
.image:hover {
  transform: perspective(600px) scale(1.1) rotateY(-15deg);
}

.cta {
  font-size: 1.2rem;
  margin-right: 12px;
  font-weight: 600;
  color: #0067ea;
  -webkit-text-fill-color: #0067ea;
  -webkit-border-image-slice: 1;
  border-image-slice: 1;
  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(135deg, #003c71 0%, #0067ea 100%) 1;
  padding: 0px 17px;
  border-radius: 7px !important;
}
.cta:hover {
  background: linear-gradient(135deg, #003c71 0%, #0067ea 100%);
  color: #fff !important;
  -webkit-text-fill-color: #fff;
  text-decoration: none;
}

.hero-cta {
  -webkit-text-fill-color: transparent;
  color: #0000;
  background-image: linear-gradient(135deg, #003c71 0%, #0067ea 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

.source {
  color: #0067ea;
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1),
    color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(135deg, #003c71 0%, #0067ea 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  transform: translate(0);
}

.source:hover {
  transform: translate(2px); /* Hover transformation */
  color: #003c71; /* Optional color change on hover */
  text-decoration: underline;
}

/* Mobile phones (portrait and landscape) */
@media (max-width: 480px) {
  .project_wrapper__text div {
    width: 65%;
    text-align: justify;
  }
  .project_wrapper__text h3 {
    width: 65%;
  }
  .project-wrapper__image img {
    width: 85%;
  }
}
/* Mobile phones (landscape) and small tablets */
@media (min-width: 481px) and (max-width: 767px) {
  .project_wrapper_para {
    width: 100%;
  }
}

/* Tablets (portrait) and small laptops */
@media (min-width: 768px) and (max-width: 1024px) {
  .project_wrapper_para {
    width: 100%;
  }
}

/* Small laptops and large tablets */
@media (min-width: 1024px) and (max-width: 1366px) {
}

/* Laptops and desktops */
@media (min-width: 1367px) and (max-width: 1920px) {
}

/* Extra large screens */
@media (min-width: 1920px) {
}
