.contact-section {
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  color: #d2d2d2;
  background-image: linear-gradient(135deg, #003c71 0%, #0067ea 100%);
  margin-top: -12rem;
  margin-bottom: -1px;
  padding: 6rem 0 10rem;
  text-align: center;
}

.container-title {
  text-transform: uppercase;
  margin: 0 0 4.5rem;
  font-size: 2.6rem;
  font-weight: 600;
  text-align: center;
}

.contact-wrapper__text {
  font-size: 1.8rem;
  text-align: center;
}

.cta-btn--resume {
  color: #d2d2d2;
  border: 2px solid #d2d2d2;
  font-size: 1.9rem;
  padding: 2px 21px;
  text-decoration: none;
  font-weight: 700;
}

.cta-btn--resume:hover {
  color: #0067ea;
  text-decoration: none;
  background-color: #fff;
}
